.vscode/**
.vscode-test/**
out/test/**
test/**
src/**
**/*.map
.gitignore
tsconfig.json
vsc-extension-quickstart.md
out
site
images

client/**
!client/out
!client/node_modules

server/**
!server/out
!server/node_modules
